.create-contract-top-div {
    padding: 20px;
    /* background-color: #f9f9f9; */
}

.create-contract-inner-div {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.create-contract-input-div {
    margin-bottom: 15px;
}

.create-contract-input-div label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.create-contract-input-div input,
.create-contract-input-div textarea,
.create-contract-input-div select {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.create-contract-input-div input[type="date"] {
    padding: 6px;
}

.create-contract-input-div textarea {
    resize: vertical;
}

.create-contract-input-div button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-contract-input-div button:hover {
    background-color: var(--primary-hover-color);
}

.create-contract-input-div select {
    margin-bottom: 10px;
}

.create-contract-input-div .stage {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.create-contract-input-div .stage input {
    margin-right: 10px;
}

.create-contract-input-div .stage button {
    margin-left: 10px;
}

.create-contract-remove-stage-button {
    margin: 0px 5px;
    padding: 8px 12px;
    background-color: var(--danger-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.create-contract-remove-stage-button:hover {
    background-color: var(--danger-hover-color);
}

.create-contract-button,
.create-contract-add-stage-button {
    margin: 5px 5px;
    padding: 8px 12px;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.create-contract-button:hover,
.create-contract-add-stage-button:hover {
    background-color: var(--secondary-hover-color);
}

.create-contract-button {
    display: flex;
    font-size: 1.1rem;
}


.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
}