.states-top-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;
}

.state-box {
    padding: 10px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
    border: 1px solid #ccc;
    width: 300px;
    /* background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); */
    background-color: var(--secondary-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;

}

.state-box:hover {
    background-color: var(--primary-hover-color);
}

.state-container {
    text-align: center;
}