body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif
}



.roboto-slab {
  font-family: "Roboto Slab", serif;
  /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
}


:root {
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --secondary-color: #302e7d;
  --secondary-hover-color: #0056b3;
  --danger-color: #dc3545;
  --danger-hover-color: #c82333;
  --background-color: #fff;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --border-color: #ccc;
}